[Unit]
Description=WOL Agent Boot Notification
Documentation=https://github.com/yusiwen/myUtilities
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=15
ExecStart=/usr/local/bin/mu wol agent --config=/etc/mu/wol-config.json --boot
Restart=on-failure
RestartSec=5s
StartLimitBurst=2
StartLimitIntervalSec=30

[Install]
WantedBy=multi-user.target
