[Unit]
Description=WOL Agent Shutdown Notifier
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStopSec=30
Environment=HOME=/root
ExecStart=/bin/true
ExecStop=/usr/local/bin/mu wol agent --shutdown http://192.168.2.1:18080

[Install]
WantedBy=multi-user.target

