[Unit]
Description=WOL Agent Boot Notification
Documentation=https://github.com/yusiwen/myUtilities
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=15
ExecStart=/usr/local/bin/mu wol agent --boot --hostname myhost http://192.168.2.1:18080
Restart=on-failure
RestartSec=5s
StartLimitBurst=2
StartLimitIntervalSec=30

[Install]
WantedBy=multi-user.target
