[Unit]
Description=WOL Agent Shutdown Notifier
DefaultDependencies=no
Before=shutdown.target
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
TimeoutStartSec=15
ExecStart=/usr/local/bin/mu wol agent --shutdown --hostname myhost http://192.168.2.1:18080

[Install]
WantedBy=halt.target poweroff.target reboot.target
